@font-face {
   font-family: "Lato";
   src: url(../fonts/latoregular.woff2) format("woff2"), url(../fonts/latoregular.woff) format("woff");
   font-display: swap;
   font-weight: 400;
   font-style: normal;
}
@font-face {
   font-family: "Lato";
   src: url(../fonts/latobold.woff2) format("woff2"), url(../fonts/latobold.woff) format("woff");
   font-display: swap;
   font-weight: 700;
   font-style: normal;
}
@font-face {
   font-family: "Lato";
   src: url(../fonts/latoblack.woff2) format("woff2"), url(../fonts/latoblack.woff) format("woff");
   font-display: swap;
   font-weight: 900;
   font-style: normal;
}

[class*="__container"]{
   max-width: 810px;
   margin: 0 auto;
}
h1{
   font-family: "Lato", sans-serif;
   font-weight: 900;
   font-size: 46px;
   line-height: 59.8px;
   text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
   margin:86px 0px;
}
.image, p{
   margin-bottom: 34px;
}
.vulputatevitae {
   font-family: "Lato", sans-serif;
   font-weight: 700;
   font-size: 20px;
   line-height: 30px;
}
.atfacilisisapien, .ametmorbised{
   font-family: "Lato", sans-serif;
   font-weight: 400;
   font-size: 16px;
   line-height: 25.6px;
}
.loremipsumdolorsit {
   font-family: "Lato", sans-serif;
   font-weight: 700;
   font-size: 20px;
   line-height: 30px;
   margin-left: 58px;
}
.maurisametarcunisl {
   font-family: "Lato", sans-serif;
   font-weight: 400;
   font-size: 16px;
   line-height: 25.6px;
}
.unorderlist> li{
   font-family: "Lato", sans-serif;
   font-weight: 400;
   font-size: 16px;
   line-height: 25.6px;
   margin: 0px 0px 4px 32px;
}
#etiam{
   margin-bottom: 34px;
}
.enimvelmassa {
   font-family: "Lato", sans-serif;
   font-weight: 400;
   font-size: 16px;
   line-height: 25.6px;
   margin-bottom: 126px;
}
.testone {
   background-color: green;
   padding: 10px;
   height: 520px;
   background-image: url(../img/vedmak.jpg);
   background-attachment: fixed;
   background-repeat: no-repeat;
   background-position: center;
   background-size: contain;
   font-size: 50px;
   color: red;
   border-radius: 10px;
   overflow: auto;
}
.testtwo {
   background: url(../img/01.png) repeat-x 0 146px / 350px, linear-gradient(to bottom, rgba(76,76,76,1) 0%,rgba(89,89,89,1) 12%,rgba(102,102,102,1) 25%,rgba(71,71,71,1) 39%,rgba(44,44,44,1) 50%,rgba(0,0,0,1) 51%,rgba(17,17,17,1) 60%,rgba(43,43,43,1) 76%,rgba(28,28,28,1) 91%,rgba(19,19,19,1) 100%);
height: 500px;
}
footer{
   background-image: url(../img/image.jpg);
}